
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Surname</dt>
        <dd>@Model.Code</dd>

    </dl>
    <a asp-controller="Countries" asp-action="index">Go back</a>


</body>
</html>
